* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    background: rgb(180,35,35);
    background: linear-gradient(90deg, rgba(180,35,35,1) 0%, rgba(24,40,47,1) 100%);
}

.page-header {
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #fff;
}
.phone_icon{
    font-size: 1.6rem;
}
.call_message {
    margin-left: 1rem;
    font-size: 1.6rem;
}
/*
.columna_boton{
    display: flex;
    justify-content: flex-end;
}
*/
.banner{
    margin-top: 8.3rem;
    font-size: 2.2rem;
    
    
}
.banner_form {
    color: #fff;
}

.titulo {
    font-weight: bold;
    font-size: 2.2rem;
}
.banner_back {
    background-color:whitesmoke;
    border-radius: 5%;
    /*margin-top: 13rem;*/     
}
.banner_back h1{
    font-weight: bold;
    color: #B42323;
}
.banner_back img {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.75rem;
    margin-bottom: 00.75rem;
    background-color: whitesmoke;
    border-radius: 5%;
      
}
.img_container{
    border-radius: 5%;
    background-image: linear-gradient(90deg, rgba(180,35,35,1) 0%, rgba(24,40,47,1) 100%); 
}
.list {
    padding-left: 2rem;
    list-style-type: none;
}
.list li{
    padding-left: 4rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.text_icons {
    font-size: 2.2rem;
}
.back_graficos {
    padding: 0.5rem;
    border-radius: 5%;
    background-image: linear-gradient(90deg, rgba(180,35,35,1) 0%, rgba(24,40,47,1) 100%);
}
.back_graficos_2{
    padding: 0.5rem;
    width: 100%;
    border-radius: 5%;
    background-color: whitesmoke;
    margin: 0 0;
}
footer{
    background-color: #f8f8f8;

}
.footer_text{
    
    font-size: 2.2rem;
}
.formulario_general{
    font-size: 2.2rem;
    font-weight: bold;
}
.formulario_general h1{
    font-weight: bold;
    color: #B42323;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
form input {
    height: 3.4rem;
}
.error_container{
    font-size: 1.6rem;
    position: relative;
    /*
    border: 1px solid red;
    top: -45px;
    */
    /*
    height: 3.4rem;
    */
}
.error_icon {
    position: absolute;
    top: -3.7rem;
    right: 1rem;
    color: red;
}
.error {
    position: relative;
    color: red;
    font-style: italic;
    text-align: right;
    font-size: 1.2rem;
    /*
    top: 45px;
    */
    
}
/*
.svg_container{
    width: 300px;
    height: 150px;
    resize: both;
    overflow: auto;
    border: 1px dashed #aaa;
}

.svg_container svg {
    width: 95%;
    height: 95%;
}
*/

@media (min-width: 280px) and (max-width:800px) {
    .columna_boton{
        display:block;
        text-align: center;
    }
    .banner {
        margin-top: 12.3rem;
    }
    .banner_back {
        background-color:whitesmoke;
        border-radius: 5%;
        margin: 0 auto;
        margin-top: 0.9rem;
        width: 96%;    
    }
    
    .columna_banner_form{
        display: flex;
        justify-content: center;
    }
    
    /*
    .banner_form{
        display: flex;
        justify-content: center;
    }
    */
}

@media (min-width: 800px) {
    .columna_boton{
        display: flex;
        justify-content: flex-end;
    }
    .banner {
        margin-top: 12.3rem;
    }
    .banner_back {
        background-color:whitesmoke;
        margin: 0 auto;
        width: 66%;    
    }
    
    
    
}